@font-face {
    font-family: 'League Gothic';
    src: url('../assets/fonts/league-gothic.eot');
    src: url('../assets/fonts/league-gothic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/league-gothic.woff') format('woff'),
         url('../assets/fonts/league-gothic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
